@model Intelemark.Models.AlertSettingsModel

@{
    ViewBag.Title = "Alert Settings";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Scripts/app-assets/vendors/css/forms/tags/jquery.tagsinput.css">
</head>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Email Alert Settings</h4>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
                    <form class="form">
                        <div class="form-body">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <h4 class="form-section"><i class="ft-flag"></i> System Settings</h4>
                          
                            <div class="alert alert-warning mb-2" role="alert">
                                <strong>Remember</strong> - The system will let you know by email alert that a project data is running low, so you can add as many emails
                                as possible separating each on by the character ",", you can  also set up the percentage of the project remaining contacts. (i.e: 5%, 6%.. etc), remember to specify positive values.
                                <br /><br />
                                The system will detect the projects that are running low automatically every day and will send an email to all the specified recipients.
                            </div>


                            @Html.HiddenFor(model => model.Id, new { @value = Model.Id })
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.NotificationEmails)
                                        @Html.EditorFor(model => model.NotificationEmails, new { htmlAttributes = new { @class = "form-control", @placeholder = "Emails separated by tags. Type ',' when you input an email.", @id = "NotificationEmails" } })
                                        @Html.ValidationMessageFor(model => model.NotificationEmails, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DataPercentage)
                                        @Html.EditorFor(model => model.DataPercentage, new { htmlAttributes = new { @class = "form-control tags", @placeholder = "% of contacts remaining in project. (Low management)", @type = "number", @step = "any" } }) 
                                        @Html.ValidationMessageFor(model => model.DataPercentage, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-actions pull-right">
                                <a href="@Url.Action("Index", "Home")" class="btn btn-warning mr-1"> <i class="la la-ban"></i> Cancel</a>
                                <button type="submit" class="btn btn-primary">
                                    <i class="la la-check-square-o"></i> Save
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}


@section Scripts
{
    <script src="~/Scripts/app-assets/js/scripts/forms/tags/jquery.tagsinput.js"></script>

    <script>
        $(document).ready(function () {



            $('#NotificationEmails').tagsInput({
                'height': '90px',
                'width': '100%',
                'defaultText': '',
                'removeWithBackspace': true,
                'minChars': 0,
                'maxChars': 0, // if not provided there is no limit
                'placeholderColor': '#666666'
            });
        });


    </script>

}