@model IEnumerable<Intelemark.Models.AppointmentModel>

@{
    ViewBag.Title = "Schedule Summary Report";
    var start = Model.FirstOrDefault()?.StartDate ?? DateTime.Now.AddDays(-1);
    var end = Model.FirstOrDefault()?.EndDate ?? DateTime.Now;
}

<form action="/Home/ScheduleSummary" enctype="multipart/form-data" method="post">
    <div class="col-md-12">
        @Html.Partial("~/Views/Shared/_FilterReport.cshtml", new Intelemark.Models.Reports.BaseReportModel() { StartDate = start, EndDate = end }, new ViewDataDictionary() { { "CampaignId", ViewBag.CampaignId } })
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Appointments Summary</h4>
                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">

                    <table class="table table-striped table-hover table-bordered dataTable ReportDatatable" data-title="Intelemark Agent Production Report">
                        <thead>
                            <tr>
                                <th>
                                   Agent Name
                                </th>
                                <th>
                                    Contact Name
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Notes)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DateScheduled)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TimesScheduled)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Agent.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Record.Contact.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Notes)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateScheduled)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TimesScheduled)
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>


