@model IEnumerable<Intelemark.Models.UserProfileModel>
@{
    ViewBag.Title = "All Users";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">@ViewBag.Title List</h4>
            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
            <div class="heading-elements">
                <ul class="list-inline mb-0">
                    <li><a href="@Url.Action("Register", "Account")"> <i class="ft-plus-circle"></i> ADD</a></li>
                </ul>
            </div>
        </div>
        <div class="card-content collapse show">
            <div class="card-body">
                <table class="table table-striped table-hover table-bordered zero-configuration dataTable table-dataTables">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Name)</th>
                            <th>@Html.DisplayNameFor(model => model.Email)</th>
                            <th>@Html.DisplayNameFor(model => model.Role)</th>
                            <th>@Html.DisplayNameFor(model => model.City)</th>
                            <th>@Html.DisplayNameFor(model => model.State)</th>
                            <th>@Html.DisplayNameFor(model => model.Notes)</th>
                            <th width="110" align="center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Role)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.City)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.State)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Notes)
                            </td>
                            <td>
                                @Html.ActionLink(" ", "EditProfile", new { id = item.Id }, new { @class = "btn btn-sm btn-circle btn-warning la la-pencil", title = "Edit", data_toggle = "tooltip" })
                                <button class="btn btn-danger la la-trash-o btn-sm" data-toggle="modal" data-target=".@item.Id"></button>
                                @Html.Partial("~/Views/Shared/_Delete.cshtml", item.Id)
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

